<app-header-menadzer></app-header-menadzer>
<div class="large-profile-card">
    <div class="user-info">
    <img [src]="'http://localhost:4000/uploads/'+korisnik?.profilna_slika" alt="Profile Picture">
    <h2>{{ korisnik.ime }} {{ korisnik.prezime }}</h2>
    <p>Adresa: {{ korisnik.adresa }}</p>
    <p>E-mail: {{ korisnik.imejl }}</p>
    <p>Broj telefona: {{ korisnik.br_telefona }}</p>
    <p *ngIf="korisnik.tip=='lekar'">Broj licence: {{ korisnik.dodatno['broj_licence'] }}</p>
    <p *ngIf="korisnik.tip=='lekar'">Specijalizacija: {{ korisnik.dodatno['specijalizacija'] }}</p>
    <p *ngIf="korisnik.tip=='lekar'">Ogranak: {{ korisnik.dodatno['ogranak_ordinacije'] }}</p>
    <button class="edit-button" (click)="azuriraj()">Azuriraj</button>
  </div>
</div>