<nav class="user-menu">
    <ul>
        <li><a routerLink="/pacijent">Profil</a></li>
        <li><a routerLink="/pacijent-lekari">Lekari</a></li>
        <li><a routerLink="/pacijent-pregledi">Pregledi</a></li>
        <li><a routerLink="/pacijent-obavestenja">Obavestenja</a></li>
    </ul>
    <div class="button-container">
        <button class="btn btn-primary special-button" (click)="promeni_lozinku()">Promeni lozinku</button><br>
        <button class="btn btn-primary logout-button" (click)="logout()">Logout</button>
    </div>
</nav>